{% if pager.isPaginable %}
    <li id="RS-module-pager">
        <span class="bold">{{ pager.getFirstIndex }}</span>-<span class="bold">2</span> de 
        <span class="bold">{{ pager.count }} resultados</span>
        <a href="{{ paginate_path(route, pager.getFirstPage, parameters) }}" class="paginator-button">
            <img boder='0' src="{{ (pager.isFirstPage) ? asset('/bundles/makerlabspager/images/RS-first-arrow.png') : asset('/bundles/makerlabspager/images/RS-first-arrow-active.png') }}" alt="<<" />
        </a>
        <a href="{{ paginate_path(route, pager.getPreviousPage, parameters) }}" class="paginator-button">
            <img boder='0' src="{{ (pager.isFirstPage) ? asset('/bundles/makerlabspager/images/RS-previous-arrow.png') : asset('/bundles/makerlabspager/images/RS-previous-arrow-active.png') }}" alt="<" />
        </a>
        <a href="{{ paginate_path(route, pager.getNextPage, parameters) }}" class="paginator-button">
            <img boder='0' src="{{ (pager.isLastPage) ? asset('/bundles/makerlabspager/images/RS-next-arrow.png') : asset('/bundles/makerlabspager/images/RS-next-arrow-active.png') }}" alt=">" />
        </a>
        <a href="{{ paginate_path(route, pager.getLastPage, parameters) }}" class="paginator-button">
            <img boder='0' src="{{ (pager.isLastPage) ? asset('/bundles/makerlabspager/images/RS-last-arrow.png') : asset('/bundles/makerlabspager/images/RS-last-arrow-active.png') }}" alt=">>" />
        </a>
    </li>
{% else %}
    <li id="RS-module-pager">
        <span class="bold">Mostrando {{ pager.count }} resultados</span>
    </li>
{% endif %}